{
  "presets": [
    [
      "@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3 }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-object-rest-spread"
  ]
}